/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.warning-snackbar {
    background: #db5151f1;
  }

  .success-snackbar{
      background: #21be29c5 ;
  }

  .mat-simple-snackbar-action{
color :white
  }

  .PageScaffold {
    position: relative;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#212c39),color-stop(50%,#552f6d),to(#000));
    background-image: linear-gradient(#212c39,#552f6d 50%,#000);
    background-repeat: no-repeat;
  }

.mat-toolbar.mat-primary {
  background-image:  linear-gradient(#2c5e92 0%, #552f6d 80%) 
}

.mat-tab-group.mat-background-primary>.mat-tab-header,.mat-tab-group.mat-background-primary>.mat-tab-link-container,.mat-tab-group.mat-background-primary>.mat-tab-header-pagination,.mat-tab-nav-bar.mat-background-primary>.mat-tab-header,.mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container,.mat-tab-nav-bar.mat-background-primary>.mat-tab-header-pagination {
  background-image:  linear-gradient(#2c5e92 0%, #552f6d 80%) 
}



